{%- spaceless -%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb"{% if breadcrumb.id is not empty %} id="{{ breadcrumb.id }}"{% endif %}>
            {% for item in breadcrumb.items %}
                {% set trans = item.translationDomain is empty ? item.label : item.label|trans(item.translationArgs, item.translationdomain) %}
                {% if loop.last %}
                    <li class="active" aria-current="page">{{ trans }}</li>
                {% else %}
                    <li><a href="{{ item.href }}">{{ trans }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{%- endspaceless -%}
