# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Managed by Composer
/vendor/
/composer.lock

# PHPUnit
/app/phpunit.xml
/phpunit.xml
/coverage

# Build data
/build/

# Composer PHAR
/composer.phar

# Embedded web-server pid file
/.web-server-pid

/.php_cs.cache

/.env

/.idea
